html,
body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

html {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #a7cfdf;
  background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  background: -webkit-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  background: linear-gradient(to bottom, #a7cfdf 0%, #23538a 100%) fixed;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a', GradientType=0);
  min-height: 100%;
}

header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
  grid-auto-flow: dense;
  align-items: flex-start;
  padding: 10px;
}

h1 {
  font: small-caps bold 44px Georgia, serif;
  margin: 0;
  text-align: center;
}

.questionHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  font-size: 30px;
  color: #003c7b;
  text-align: center;
  padding: 10px;
  min-height: 100px;
}

h2 {
  margin: 0;
}

.logo {
  justify-self: center;
  z-index: 1;
}

main {
  padding: 20px 0 35px;
  margin: -15px 0 -25px;
  min-height: 300px;
}

footer {
  text-align: center;
  padding: 10px 20px;
}

main, footer, .btnHolder button, .card {
  font-family: helvetica, sans-serif;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.gameArea {
  align-items: center;
  display: grid;
  grid-template-columns: 129px minmax(318px, 1fr) 129px;
  grid-auto-flow: dense;
  justify-items: center;
  margin-bottom: -124px;
}

.gameBoard {
  align-items: center;
  display: grid;
  grid-auto-rows: 1fr auto;
  grid-column: 2;
  justify-items: center;
  justify-self: stretch;
  border: 5px solid #003c7b;
  border-radius: 50%;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/40041/bgFF.svg")
    #0c4779;
  /*background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/40041/bgFF.svg') #3a84c3;*/
  background-repeat: repeat;
  background-position: center center;
  -webkit-box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
  box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
}

.gameBoard .cardHolder > div,
.gameBoard .LBG {
  background: #cedbe9;
  background: linear-gradient(
    to bottom,
    #cedbe9 0%,
    #aac5de 17%,
    #6199c7 50%,
    #3a84c3 51%,
    #419ad6 59%,
    #4bb8f0 71%,
    #3a8bc2 84%,
    #26558b 100%
  );
}

.gameArea .cardHolder > div:empty,
.gameArea .score,
.btnHolder .button,
.gameArea .DBG {
  background: #7db9e8;
  background: linear-gradient(
    to bottom,
    #7db9e8 0%,
    #2989d8 50%,
    #1e5799 100%
  );
}

.gameArea .score {
  text-align: center;
  margin: 5px;
  font-size: 45px;
  height: 94px;
  line-height: 50px;
  width: 119px;
  padding: 20px;
  border: 2px solid white;
  -webkit-box-shadow: inset 0 1px 24px 1px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: inset 0 1px 24px 1px rgba(0, 0, 0, 0.48);
  box-shadow: inset 0 1px 24px 1px rgba(0, 0, 0, 0.48);
  user-select: none;
}

.gameArea #team1 {
  grid-column: 1;
}

@media screen and (max-width: 640px) {
  .gameArea {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }
  .gameArea>.score {
    grid-row: 2;
  }
  .gameBoard {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: -124px;
  }
}

.gameArea .score#boardScore {
  font-size: 65px;
  height: 119px;
  line-height: 75px;
  width: 169px;
}

.gameBoard .colHolder {
  background: black;
  display: flex;
  flex-direction: row;
  min-width: 270px;
  max-width: 1200px;
  width:85%;
}

@media screen and (max-width: 1024px) {
  .gameBoard .colHolder {
    flex-direction: column;
  }
}

.gameBoard .colHolder > div {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
  box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
}
.gameBoard .cardHolder {
  background: black;
  border: 4px solid white;
  display: inline-block;
  height: 58px;
  padding: 0;
  perspective: 800px;
  position: relative;
  vertical-align: top;
  width: 100%;
}
.gameBoard .cardHolder:not(.empty) {
  cursor: pointer;
}
.gameBoard .cardHolder > div {
  border: 2px solid #003c7b;
  height: 100%;
  left: 0;
  line-height: 50px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  transition: transform .7s;
  transform-style: preserve-3d;
  width: 100%;
}
.gameBoard .cardHolder b {
  position: absolute;
  right: 0;
  width: 45px;
  text-align: center;
  border-left: 2px solid #003c7b;
}
.gameBoard .cardHolder span {
  margin: 10px;
}
.gameBoard .cardHolder .card .card-face {
  backface-visibility: hidden;
}
.gameBoard .cardHolder .card.flipped {
  transform: rotateX(180deg);
}
.gameBoard .cardHolder .back {
  font-size: 25px;
  text-align: left;
  height: 46px;
  line-height: 46px;
  transform: rotateX(180deg);
}
.gameBoard .cardHolder .back span {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.gameBoard .cardHolder .front {
  text-align: center;
}
.gameBoard .cardHolder .front span {
  font-size: 30px;
  position: absolute;
  border-radius: 50%;
  line-height: 35px;
  height: 39px;
  width: 49px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  margin: auto;
  border: 2px solid #003c7b;
}
.btnHolder {
  backdrop-filter: blur(5px);
  padding: 5px;
}
.btnHolder .button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  height: 50px;
  line-height: 44px;
  width: 150px;
  border: 3px solid white;
  -webkit-box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
  box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
  text-align: center;
}
.btnHolder .button:disabled {
  color: #bbb;
  border-color: #bbb;
  background: #345;
}
.btnHolder .button#awardTeam1 {
  border-radius: 50px 0 0 50px;
}
.btnHolder .button#awardTeam2 {
  border-radius: 0 50px 50px 0;
}
